---
import '../app.css';
---

<html lang="en" class="h-full dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sketchy Site</title>
	</head>
	<body class="h-full bg-background">
		<slot />
	</body>
</html>
